.fondoaqua{
    background-color: #1ABC9C;
}
.fondorojo{
    background-color: red;
}
.fondoazul{
    background-color: aquamarine;
}
.fondoViolet{
    background-color: violet;
}
.fondoblanco{
    background-color: white;
}
.fondoamarillo{
    background-color: yellow;
}
.fondoverde{
    background-color: chartreuse;
}
.letrablanca{
    color: white;
}